<%- include('../partials/header.ejs') -%>

<!-- Checks if banner is passed -->
<% if (locals?.banner) { %>
  <section class="banner" style="background-image: url('<%= locals.banner.url %>')"><%= locals.banner.title %></section>
  <h2>All of our animals would love to get adopted.</h2>
<% } %>

<!-- Checks if array of pets is passed -->
<% if (locals?.petsToShow.length > 0) { %>
  <div class="container list">
    <% locals.petsToShow.forEach(pet => { %>
      <div class="item">
        <img src="/images/<%= pet.image %>" class="item--image" />
        <div class="item--name"><%= pet.name %></div>
        <div class="item--color"><%= pet.color %></div>
        <div class="item--genre"><%= pet.sex %></div>
      </div>
    <% }); %>
  </div>
<% } else { %>
  <div class="container no-list">
    <h2>Could not find any pet</h2>
    <a href="/">Go back</a>
  </div>
<% } %>

<%- include('../partials/footer.ejs') -%>